# -*- coding: utf-8 -*-
"""
Created on Tue Jun 28 16:36:50 2022

@author: LArib
"""

.CalendarDay__selected, .CalendarDay__selected:active, .CalendarDay__selected:hover {
  background: rgb(41, 56, 55) !important;
  border: 1px double rgb(41, 56, 55) !important;
  color: rgb(251, 251, 252) !important;
}

/* Calendar in between start and end date */
.CalendarDay__selected_span {
    background: rgb(93, 113, 120) !important;
    border: 1px double rgb(93, 113, 120) !important;
    color: rgb(251, 251, 252) !important;
}

.CalendarDay__selected_span:active, .CalendarDay__selected_span:hover {
    background: rgb(57, 81, 85) !important;
    border: 1px double rgb(57, 81, 85) !important;
    color: rgb(251, 251, 252) !important;
}
.DateRangePickerInput{
    background-color : rgb(41, 56, 55),
    border-color : #000000;
}
.DateInput_screenReaderMessage{
    background-color : #00b6e1
}



